.not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $off-white;
  background-color: $dark-blue;

  &__image {
    width: 10rem;
    height: 10rem;
  }

  &__link {
    color: $off-white;
    transition: color 0.3s ease;

    &:hover {
      color: darken($off-white, 10%);
    }
  }

  &__text {
    text-align: center;
  }
}
